<h1>Add an album</h1>
<h3>Add an album here: </h3>
<form action='/albums' method="post">
  <label for="new-album">Album Name</label>
  <input type="text" name="new-album" id="new-album">
  <button type="submit">Add album</button>
</form>
