<h1>Add an artist</h1>
<h3>Add an artist here:</h3>
<form action="/artists" method="post">
  <label for="artist-name">Artist name</label>
  <input id="artist-name" name="artist-name" type=text>
  <button type="submit">Add!</button>
</form>
<p><a href="/">Back Home</a></p>
